* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #262C40;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
}
.wrapper{
    max-width: 1536px;
    margin: auto;
}
#app{
    margin: 0 48px;
}
@media (max-width: 1280px) {
    #app{
        margin: 0 32px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
    border: 1px solid #262C40;
}